.container {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  color: rgba(55, 65, 81, 1);
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 48rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container__header {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem 1rem 0rem;
  /* padding-left: 2rem;
  padding-right: 2rem; */
}

/* parent container which hilds the input fields */
.first__section--flex {
  display: flex;
  flex: row;
  /* width: 75%; */
  max-width: 36rem;
  margin-bottom: 0.5rem;
}

/* input field 1 */
.first__section--flex__block {
  position: relative;
  margin-right: 32px;
  width: 75%;
}

.container__input__field1 {
  border: 1px solid rgb(255, 102, 102);
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem;
  width: 100%;
}

/* input field 2 */
.first__section--flex__block2 {
  position: relative;
  width: 25%;
}

.container__input__field2 {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}

.container__input__field2__icon {
  color: rgba(156, 163, 175, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  right: 0.75rem;
  top: 0.5rem;
  position: absolute;
}

.container__input__icons i {
  position: absolute;
}

/* radio buttons section */
.container__radio__button {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* padding-left: 2.25rem; */
  padding-right: 2.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* radio button 1 */
.radio__button_label--one {
  display: block;
  margin-bottom: 0.5rem;
}
.radio__button__2 {
  display: block;
}
.radio__button__input {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radio__button__input input {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radio__button__input__block {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  transition: all 150ms ease 0s;
  box-shadow: rgb(241 109 55) 0px 0px 0px 2px;
  background: rgb(241, 109, 55);
}

.radio__button__input__block svg {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  visibility: visible;
  display: block;
}

/* search section */
.container__search {
  padding-top: 1rem;
  /* padding-left: 2rem; */
  padding-right: 2rem;
  border-color: rgba(229, 231, 235, 1);
  border-top-width: 1px;
  width: 100%;
  margin-top: 1rem;
}

.container__search__bar {
  position: relative;
  width: 18rem;
}

.search__bar__icon {
  position: absolute;
  font-size: 0.875rem;
  line-height: 1.25rem;
  left: 0.5rem;
  top: 0.75rem;
}

.search__bar__icon svg {
  color: rgba(107, 114, 128, 1);
  display: block;
}

.container__search__bar i {
  color: rgba(107, 114, 128, 1);
  display: block;
}

.container__section__search {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 1.5rem !important;
  padding: 0.5rem;
  width: 100%;
}

/* checkbox section */
.container__checkbox__section {
  width: 100%;
  /* padding-left: 2rem; */
  padding-right: 2rem;
}

.container__button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 2rem;
  padding-right: 2rem;
}

.submit__button {
  background: rgb(241, 109, 55);
  border-radius: 3px;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main__checkbox {
  margin-top: 1rem;
  width: 100%;
}

.checkbox__label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  display: inline-block;
  background-color: rgba(229, 231, 235, 1);
}

.main_checkbox_label {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: rgba(229, 231, 235, 1);
}

.checkbox__block {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox__input {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox__svg {
  /* display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  transition: all 150ms ease 0s;
  box-shadow: rgb(63 155 183) 0px 0px 0px 3px; */
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  transition: all 150ms ease 0s;
  box-shadow: rgb(63 155 183) 0px 0px 0px 3px;
}

.checkbox__svg svg {
  visibility: hidden;
  fill: none;
  stroke: rgb(50, 123, 145);
  stroke-width: 4px;
}

.checkbox__svg--checked {
  visibility: visible !important;
}

.checkbox_label {
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.checkbox-svg {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  transition: all 150ms ease 0s;
  box-shadow: rgb(63 155 183) 0px 0px 0px 3px;
}

/* checkbox style */
.svg__hidden {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  transition: all 150ms ease 0s;
  box-shadow: grey 0px 0px 0px 1px;
  background: white;
}

svg {
  color: rgb(241, 109, 55);
}

.svg__hidden svg {
  visibility: hidden;
}

.radio__button__svg {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.radio__button--field {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radio__button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.svg__checked {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  transition: all 150ms ease 0s;
  box-shadow: rgb(241 109 55) 0px 0px 0px 2px;
  background: rgb(241, 109, 55);
}

.radio__button--field {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* validation error */
.validation-error {
  border: 1px solid red;
}
